* {
	/* background-color: rgba(0, 198, 69, 0.1); */
  border: none;
  outline: none;
}

body{
  display: flex;
  align-items:center;
  justify-content: center;
  min-height: 40vh;
}


.container {
	/* outline: 3px solid rgba(238, 24, 24, 0.322); */
	
	padding: 1em;
	background-color: rgba(238, 24, 24, 0.1);
  border-radius: 20px;
}


/* start of second row: Input form for new todo */

.add-todo-form {
	/* outline: 0.5px solid red; */
  padding-left: 0.3rem;
  padding-right: 0.3rem;
	display: flex;
	flex-direction: row;
 
 
}

.todo-input-form {
	outline: 1px solid black;
	width: 350px;
  margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.5rem;
	font-size: 0.8rem;
}

.buttongroup {
	/* outline: 2px dashed rgb(35, 22, 220); */
  display: flex;
  align-items: center;
  justify-content: space-between;
 

}

button {
  background-color:transparent;
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;

}

/* end of second row */

.k{
  background: rgba(128, 255, 0, 0.494);
  margin: 1rem;
}


.todo-table-grid {
	display: flex;
	justify-content: center;
	outline: 1px solid rgb(220, 22, 22);
	margin: .5rem;
 
}

.table {
	outline: 1px dashed rgb(35, 22, 220);
}

.todo {
	padding-right: 1em;
	background-color: aquamarine;
}

.user,
.status {
	font-size: small;
	/* outline: 1px dashed rgb(139, 0, 51); */
}

/* --------- --------- --------- --------- --------- --------- --------- --------- */

/* style for ToDo Item */

/* .list-items:hover{
  transform: translateY(.1rem);
} */

#todo-checkbox {
	margin: 0.2rem;
	margin-right: 0.5rem;
	background-color: transparent;
}
.todo-text {
	font-size: small;
	color: black;
	font-weight: bold;
}

.todo-text-strike {
	font-style: bold;
	opacity: 0.5;
}

/* .todo-edit {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.8rem;
} */

.editIteminput {
	width: 13rem;
	padding: 0.2rem;
	margin-right: 0.2rem;
	font-size: 0.8rem;
}
