* {
	/* background-color: rgba(0, 198, 69, 0.1); */
  border: none;
  outline: none;
}

body{
  margin-top: 1rem;
  display: flex;
  align-items:center;
  justify-content: center;
  min-height: 60vh;
  
}


.container {
	padding: 1em;
	background-color:none;
  border: 3px dashed black;
  border-radius: 20px;
  color: black;
  
}


/* start of second row: Input form for new todo */

.add-todo-form {
	/* outline: 0.5px solid red; */
  padding-left: 0.3rem;
  padding-right: 0.3rem;
	display: flex;
	flex-direction: row;
 
 
}

.todo-input-form {
	outline: 1px solid black;
	width: 350px;
  margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.5rem;
	font-size: 0.8rem;
}

.buttongroup {
	/* outline: 2px dashed rgb(35, 22, 220); */
  display: flex;
  align-items: center;
}

button {
  background-color:transparent;
  padding: 0.2rem 0.4rem;
  border: 1px dashed;

}

/* end of second row */

/* start of 3rd row */

h3{
  display:flex;
  justify-content: center;
}

.todo-section{
  /* background: rgba(128, 255, 0, 0.312); */
  border: 2px dashed black;
  margin: 1rem;
  padding: 1rem;
}


.todo-table-grid {
	display: flex;
	justify-content: start;
	outline: 1px solid rgb(220, 22, 22);
  background-color: white;
  border-radius: 2rem;
 
}

.table {
  display: flex;
  /* margin-left: 1rem; */
	outline: 1px dashed rgb(35, 22, 220);
  padding: .4rem;
}

.todo {
	padding-right: 1em;
  outline: 0.3px solid brown;
  margin-right: auto;
	/* background-color: aquamarine; */
  align-items: center;
}

.user {
 
	/* font-size: small; */
	/* background-color: rgba(  139, 0, 51, 0.337); */
}

.dropdown{
  font-size: small;
  z-index: 100;
  outline: 0.3px solid brown;
  padding: 0.5rem 1rem;

}


#todo-checkbox {
  width: 15px;
  height: 15px;
  margin-top: 10px;
	margin-right: 1rem;
	background-color: red;
  outline: 1px solid rgb(220, 22, 22);
}
.todo-text {
	font-size: small;
	color: black;
	font-weight: bold;
}

.todo-text-strike {
	font-style: bold;
	opacity: 0.5;
}

/* --------- --------- --------- --------- --------- --------- --------- --------- */

/* style for ToDo Item */

/* .list-items:hover{
  transform: translateY(.1rem);
} */

/* .todo-edit {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.8rem;
} */

.editIteminput {
	width: 13rem;
	padding: 0.2rem;
	margin-right: 0.2rem;
	font-size: 0.8rem;
}
