
body {
  font-family: sans-serif;
  margin: 3rem;
  padding: 3rem;
  width: 700px;
}





.container{
  border-radius: 1.5rem;
  padding: 3rem;
  color: #D0D3DA;
  background-color: #181B34;
  font-size: medium;
}

button {
  background: none;
  border: none;
  color: #D0D3DA;
  
}


/* style for ToDo Item */

table {

  border-radius: .3rem;

}

tr{

}

tbody{


}

.table-titles{
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  font-size: small;
  font-weight: bold;
  border: none;
}


.table-items {
  display:flex;
}
.list-items {
margin: .3rem;
padding: .3rem;
border: .5px solid rgba(102, 104, 107, 0.5);

}

/* .list-items:hover{
  transform: translateY(.1rem);
} */

.user{
  background-color: #00C674;
  margin: .3rem;
  padding: .3rem;
  font-size: small;
}

.status{
 
  background-color: #E1445C;
  margin: .5rem;
  padding: .3rem;
  font-size: small;
}



.dropdown{
  background: none;
  border: none;
  padding: auto;
  width: 95px;
  justify-content: flex-start;
}

.todo{
  /* background-color: #FDAB3D; */
  color:  #D0D3DA;
  padding: .2rem;
  width: 13rem;
}

#todo-checkbox{
  margin-left: .5rem;
  padding: .6rem;
  background-color: none;
  border: solid .5px #D0D3DA; 
}
.todo-text{
  margin-left: 1rem ;
  font-size: small;
}

.todo-text-strike {
  font-style: bold;
  opacity: 0.5;
}

.todo-edit {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}

.newIteminput {
  width: 13rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
  margin-left: 2rem;
  font-size: 1rem;
}
.editIteminput {
  width: 13rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}



